<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频点播</title>
    <script src="https://d.giraffe.com.cn/js/jQuery2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="https://d.giraffe.com.cn/gpro/vue/imgs/favicon.ico" />
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css" />
    <script charset="utf-8" type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.8.2/aliplayer-min.js"></script>
    
</head>
<body>
    <!-- <div class="prism-player" id="player-con"></div> -->
    <div id="login" class="content">
        <div class="logo">
            <img src="../img/logo.png" alt="">
        </div>

        <div class="input">
            <input type="text" placeholder="用户名" value="" class="userName" > <br>
            <input type="password" placeholder="密码" value="" class="password">
        </div>

        <button class="btn" >登录</button>
    </div>

    <!-- 弹窗提示 -->
    <div class="tip">

    </div>

</body>
<script>

</script>
</html>