<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://d.giraffe.com.cn/gpro/vue/imgs/favicon.ico" />
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css" />
    <script charset="utf-8" type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.8.2/aliplayer-min.js"></script>
    <script src="https://g.alicdn.com/de/prismplayer/2.8.2/hls/aliplayer-vod-anti-min.js"></script>
    <title>Books</title>
</head>
<body>
    <div id="video" class="">
        <div class="video-wrap" id="video-conter">
            <!-- 视频 -->
            <div class="prism-player" id="J_prismPlayer"></div>

            <div class="video-list">
                <!-- 列表 -->
                <ul id="video-wrap">
                </ul>
                
            </div>
            
        </div>
    </div>
</body>
</html>