
*{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    html {
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
    }
    /* 去除iPhone中默认的input样式 */
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    input,
    button {
     outline: none;
     resize: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
     -webkit-appearance: none;
    }
    
    button{
     border: none;
    }
    /* 设置HTML5元素为块 */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
     display: block;
    }
    /* 图片自适应 */
    img {
     height: auto;
     -ms-interpolation-mode: bicubic;
    width: 100%;
    }
    /* 初始化 */
    body,
    div,
    ul,
    li,
    ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    textarea,
    select,
    p,
    dl,
    dt,
    dd,
    a,
    img,
    button,
    form,
    table,
    th,
    tr,
    td,
    tbody,
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
     margin: 0;
     padding: 0;
     border: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*取消链接高亮*/
    list-style-type: none;
    }
    body {
     font-family: Microsoft YaHei, simhei, Tahoma, Arial, sans-serif;
     color: #333333;
     background-color: #FFFFFF;
    }
    em,
    i {
     font-style: normal;
    }
    strong {
     font-weight: normal;
    }
    .clearfix:after {
     content: "";
     display: block;
     visibility: hidden;
     height: 0;
     clear: both;
    }
    .clearfix {
     zoom: 1;
    }
    a {
     font-family: Microsoft YaHei, Tahoma, Arial, sans-serif;
     color: #fff
    }
    a,
    a:hover,
    a:active,
    a:link,
    a:visited {
     text-decoration: none;
    }
    ul,
    ol {
     list-style: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
     font-size: 100%;
     font-family: Microsoft YaHei;
    }
    img {
     border: none;
     vertical-align: middle;
    }
    body,
    html {
     width: 100%;
     min-height: 700px;
     margin: 0;
     font-family: Microsoft YaHei;
     position: relative;
     -ms-overflow-x: hidden;
     overflow-x: hidden;
    }
    
    .content{
        max-width: 750px;
        min-width: 350px;
        margin: auto;

    }